<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Admin Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Datatable JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-10">
          <h1>Admin Panel</h1>
        </div>
        <div class="col-2">
          <a href="/logout" class="btn btn-primary">Logout</a>
          <a href="/home" class="btn btn-primary">User Home</a>
        </div>
      </div>
      <!-- These lines just get flashed messages and render them at the top of the page -->
      <!-- This means error messages can be created and displayed using the flash() function -->
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}}">{{ message }}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      <h2>Users</h2>
      <a href="/admin/add_users" class="btn btn-primary">Add Users</a>

      <table class="table table-striped" id="userTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Unique ID</th>
            <th scope="col">Sign On Provider</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr id="userEntry-{{user.user_id}}">
            <th scope="row">{{user.name}}</th>
            <th>{{user.unique_id}}</th>
            <td>{{user.auth_type | title}}</td>
            <td>{{"Administrator" if user.administrator else "User"}}</td>
            <td style="display: flex; justify-content: space-evenly;">
              <button class="btn user-button lock-button" id="lockButton-{{user.user_id}}" data-user-id="{{user.user_id}}" data-locked="{{user.locked | int}}">
                <img id="lockButtonIcon-{{user.user_id}}"/>
              </button>
              <button class="btn btn-danger user-button delete-button" id="deleteButton-{{user.user_id}}" data-user-id="{{user.user_id}}"
              {% if user.administrator %}
                disabled="disabled"
              {% endif %}
              >
                <img src="/static/img/trash-fill.svg"/>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div> <!-- /container -->
  </body>

  <script>
    // Initialise data table for users
    $(document).ready(function() {
      $('#userTable').DataTable();
    });

    // Retrieve CSRF token
    const csrfToken = "{{ csrf_token() }}";

    // Handle user buttons
    Array.from(document.getElementsByClassName("lock-button")).forEach(button => {
      // Update display of button
      updateLockButtonDisplay(button.getAttribute("data-user-id"));

      // Add event listener
      button.addEventListener("click", () => lockAccountHandler(button));
    });

    Array.from(document.getElementsByClassName("delete-button")).forEach(button => {
      button.addEventListener("click", () => deleteAccountHandler(button))
    });

    function updateLockButtonDisplay(userId)
    {
      const button = document.getElementById(`lockButton-${userId}`);
      const buttonIcon = document.getElementById(`lockButtonIcon-${userId}`);
      const locked = button.getAttribute("data-locked") == "1";
      if(locked)
      {
        buttonIcon.src = "/static/img/lock-fill.svg";
        button.classList.remove("btn-success");
        button.classList.add("btn-danger");
      }
      else
      {
        buttonIcon.src = "/static/img/unlock-fill.svg";
        button.classList.remove("btn-danger");
        button.classList.add("btn-success");
      }
    }

    // Account button handlers
    function lockAccountHandler(button)
    {
      // Get user ID from button
      const userId = parseInt(button.getAttribute("data-user-id"));
      
      // Send request
      postData("/api/lock_account", {
        "user_id": userId,
        "operation": "toggle"
      }).then(response => {
        if(response.success)
        {
          // Toggle locked attribute
          button.setAttribute("data-locked", button.getAttribute("data-locked") == "0" ? "1" : "0");
          // Update button
          updateLockButtonDisplay(userId);
        }
        else
        {
          // TODO: Add proper display of erroring
          console.log("Failed to lock account.");
        }
      });
    }

    function deleteAccountHandler(button)
    {
      // Get user ID from button
      const userId = parseInt(button.getAttribute("data-user-id"));
      
      // Firstly add a prompt to check they definitely want to delete this user
      if(!confirm("Are you sure you want to delete this account?"))
        return;

      // Send request
      postData("/api/delete_account", {
        "user_id": userId
      }).then(response => {
        if(response.success)
        {
          // Delete user from the table
          const userEntry = document.getElementById(`userEntry-${userId}`);
          userEntry.parentNode.removeChild(userEntry);
        }
        else
        {
          // TODO: Add proper display of erroring
          console.log("Failed to delete account.");
        }
      });
    }

    async function postData(url = "", data = {}) {
      // Default options are marked with *
      const response = await fetch(url, {
        method: "POST",
        cache: "no-cache",
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken
        },
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }

  </script>
</html>
