<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Admin Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Datatable JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-10">
          <h1>Admin Panel</h1>
        </div>
        <div class="col-2">
          <a href="/logout" class="btn btn-primary">Logout</a>
          <a href="/home" class="btn btn-primary">User Home</a>
        </div>
      </div>
      <!-- These lines just get flashed messages and render them at the top of the page -->
      <!-- This means error messages can be created and displayed using the flash() function -->
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}}">{{ message }}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      <h2>Users</h2>

      <table class="table table-striped" id="userTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Unique ID</th>
            <th scope="col">Sign On Provider</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{user.name}}</th>
            <th>{{user.unique_id}}</th>
            <td>{{user.auth_type | title}}</td>
            <td>{{"Administrator" if user.administrator else "User"}}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div> <!-- /container -->
  </body>

  <script>
    // Initialise data table for users
    $(document).ready(function() {
      $('#userTable').DataTable();
    });
  </script>
</html>
