<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<link href="/static/css/home.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-10">
          <h1>Homepage</h1>
        </div>
        <div class="col-2">
          <a href="/logout" class="btn btn-primary">Logout</a>
          {% if user.is_admin %}
            <a href="/admin" class="btn btn-primary">Admin</a>
          {% endif %}
        </div>
      </div>
      <!-- These lines just get flashed messages and render them at the top of the page -->
      <!-- This means error messages can be created and displayed using the flash() function -->
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}}">{{ message }}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      <h2>Your Public Keys</h2>
      <div class="mb-2">
        {% if keys|length >= WIREGUARD_MAX_KEYS %}
          <a href="#" class="btn btn-primary" disabled="disabled">Add New Key</a>
        {% else %}
          <a href="/add_key" class="btn btn-primary">Add New Key</a>
        {% endif %}
        <span class="ml-2 text-muted">You can only have {{WIREGUARD_MAX_KEYS}} set up at a time.</span>
      </div>

      <ul class="list-group">
        {% for key in keys %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                <h5>
                  <strong>{{key.readable_name}}</strong>
                  {% if key.is_expired() %}
                    <span style="color: red;">(EXPIRED)</span>
                  {% endif %}
                </h5>
                <p class="mb-0">Key: {{key.public_key}}<br>
                  Expiry Date: {{key.expiry_date_string()}}
                </p>
              </div>
              <div class="col-3 d-flex align-items-center justify-content-center">
                <div>
                  <a class="btn btn-danger" href="/revoke_key/{{key.key_id}}">Revoke Access</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div> <!-- /container -->
  </body>
</html>
