<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/static/img/favicon.ico">

		<title>Renew Key</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<link href="/static/css/renew_key.css" rel="stylesheet">
	</head>

	<body class="text-center">

        <!-- These lines just get flashed messages and render them at the top of the page -->
        <!-- This means error messages can be created and displayed using the flash() function -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form id="renewKeyForm" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Renew key <strong>{{key.readable_name}}</strong></h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="key_id" value="{{key.key_id}}" />
            <p>
              Key: <strong>{{key.public_key}}</strong><br>
              Expiry Time: <strong>{{key.expiry_date_string()}}</strong>
            </p>
            <div class="form-group">
                <label for="expiryDate">Renew Time</label>
                <select class="form-control" name="expiry_time" id="expiryTime">
                    {% for label, seconds in expiry_times.items() %}
                        <option value="{{seconds}}">{{label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="/home" class="btn btn-primary">Cancel</a>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
	</body>
</html>
