<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<link href="/static/css/home.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-10">
          <h1>Homepage</h1>
        </div>
        <div class="col-2">
          <a href="/logout" class="btn btn-primary">Logout</a>
          {% if user.administrator %}
            <a href="/admin" class="btn btn-primary">Admin</a>
          {% endif %}
        </div>
      </div>
      <!-- These lines just get flashed messages and render them at the top of the page -->
      <!-- This means error messages can be created and displayed using the flash() function -->
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}}">{{ message }}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <h2>Your Connection Requests</h2>
      <div class="alert alert-info" id="notificationAlert" style="display:none;">
        <a href="#" id="allowNotifications">Click here to allow notifications to receieve notifications for connection requests.</a>
      </div>
      <div class="alert alert-info" id="newRequestAlert" style="display: none;">
        <a href="">You have a new connection request, click here to refresh the page to view it.</a>
      </div>
      {% if not connection_requests|length %}
        <span>No active connection requests.</span>
      {% endif %}
      <ul class="list-group mb-4">
      {% for request in connection_requests %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-9">
              <h5>
                <strong>Request to join using {{request.get_key_entry().readable_name}}</strong>
              </h5>
              <p class="mb-0">
                Request expires in <span id="connectionRequestTimer-{{request.req_id}}"></span>
              </p>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
              <div id="connectionRequestButton-{{request.req_id}}">
                {% if request.request_answered %}
                  <strong>Request 
                    {% if request.request_authenticated %}
                      Accepted
                    {% else %}
                      Denied
                    {% endif %}
                  </strong>
                {% else %}
                  <a class="btn btn-primary" href="/view_connection_request/{{request.req_id}}">View Request</a>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <h2>Your Public Keys</h2>
      <div class="mb-2">
        {% if keys|length >= WIREGUARD_MAX_KEYS %}
          <a href="#" class="btn btn-primary" disabled="disabled">Add New Key</a>
        {% else %}
          <a href="/add_key" class="btn btn-primary">Add New Key</a>
        {% endif %}
        <span class="ml-2 text-muted">You can only have {{WIREGUARD_MAX_KEYS}} set up at a time.</span>
      </div>

      {% if not keys|length %}
        <span>No active public keys.</span>
      {% endif %}

      <ul class="list-group">
        {% for key in keys %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>
                  <strong>{{key.readable_name}}</strong>
                  {% if key.is_expired() %}
                    <span style="color: red;">(EXPIRED)</span>
                  {% endif %}
                </h5>
                <p class="mb-0">Key: {{key.public_key}}<br>
                  Expiry Date: {{key.expiry_date_string()}}
                </p>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-between">
                <div>
                  <a class="btn btn-primary" href="/renew_key/{{key.key_id}}">Renew Access</a>
                </div>
                <div>
                  <a class="btn btn-danger" href="/revoke_key/{{key.key_id}}">Revoke Access</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div> <!-- /container -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-messaging.js"></script>
    
    <script src="/static/js/firebase-config.js"></script>

    <script>
      // Load connection request timers
      // Request times are in the format {"id": 3, "expiryTime": UTC timestamp}
      const connectionRequestTimes = JSON.parse('{{connection_requests_times | tojson | safe}}');
    </script>
    
    <script src="/static/js/home.js"></script>

    <script>
      // Your web app's Firebase configuration

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      // Retrieve Firebase Messaging object.
      const messaging = firebase.messaging();
      messaging.usePublicVapidKey(firebaseVapidKey);

      function isTokenSentToServer() {
        return window.localStorage.getItem('sentToServer') === '1';
      }

      function sendTokenToServer(currentToken)
      {
        if(isTokenSentToServer())
        {
          console.log("[FCM] Sending token to server...")
          fetch("/api/fcm_register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "same-origin",
            body: JSON.stringify({
              "device_token": currentToken
            }),
          })
        }
      }
      
      function updateUIForPushEnabled(notificationsAllowed)
      {
        document.getElementById("notificationAlert").style.display = notificationsAllowed ? "none" : "";
      }
    
      function getFCMToken()
      {
        console.log("[FCM] Attempting to retrieve token...");

        // Get Instance ID token. Initially this makes a network call, once retrieved
        // subsequent calls to getToken will return from cache.
        messaging.getToken().then((currentToken) => {
          if (currentToken) {
            // If we have a token, then we're good..
            sendTokenToServer(currentToken);

            updateUIForPushEnabled(true);
          } else {
            // Show permission request.
            console.log('[FCM] No Instance ID token available. Request permission to generate one.');

            // Show permission UI.
            updateUIForPushEnabled(false);

            // Update whether token has been stored
            setTokenSentToServer(false);
          }
        }).catch((err) => {
          console.log('[FCM] An error occurred while retrieving token. ', err);
          setTokenSentToServer(false);
        });
      }

      function setTokenSentToServer(sent) {
        window.localStorage.setItem('sentToServer', sent ? '1' : '0');
      }
      // On page load...
      // If they've granted notification permission, hide the dialog box.
      if(Notification.permission == "granted")
      {
        // Then attempt to get a token, which should succeed as they've already granted permission
        getFCMToken();
      }
      else
      {
        updateUIForPushEnabled(false);
      }

      // Now when they click on allow notifications, 
      document.getElementById("allowNotifications").addEventListener("click", getFCMToken);

      messaging.onMessage((payload) => {
        // This function only fires when the user is on the page and viewing it.
        // Therefore, we want to display to them that a new request is available and having a push notification.
        notification = new Notification(payload.notification.title, payload.notification);

        // NOTE: Rather than displaying an alert that says there's a new connection request, can we add the html straight away?
        // Allowing the user to refresh alerts them that something about the page has changed, as connection requests will look
        // very similar.
        newRequestAlert.style.display = "";
      });

      // Callback fired if Instance ID token is updated.
      messaging.onTokenRefresh(() => {
        messaging.getToken().then((refreshedToken) => {
          console.log("[Firebase] Token refreshed.");
          // Indicate that the new Instance ID token has not yet been sent to the
          // app server.
          setTokenSentToServer(false);
          // Send Instance ID token to app server.
          sendTokenToServer(refreshedToken);
        }).catch((err) => {
          console.log("[Firebase] Unable to retrieve refreshed token", err);
        });
      });

    </script>

  </body>
</html>
